/* ######## GLOBAL NAVIGATION TYPE-B (PORTAL) ########*/
/* ##################
USED BY:
Userprofile.html
login.html
comingsoon.html
picstream
mediabites.html
################# */

.centered-nav2 {
    text-align: center;
    list-style-type:none;
    position:relative;
    margin-right: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.navcont2 {
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 1.5em auto;
    padding: 0em;
    border: 1px solid rgb(105, 105, 105,0.4);
    box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.7);
    z-index: 99;
    text-indent: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.settings-menu {
    position: absolute;
    width: 400px;
    max-width: 40%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    overflow: hidden;
    bottom: 104%;
    left: 34%; /* Moves the settings menu left of right */
    max-height: 0;
    transition: max-height 1s;
    z-index: 1;
}

.settings-menu-height {
    max-height: 465px;
}

.user-profile a {
    font-size: 12px;
    color: whitesmoke;
    text-decoration: none;
}

.settings-menu-inner {
    padding: 20px;
}

.settings-menu hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 15px 0;
}

.settings-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
    margin-right: 25px;
}

.settings-links .settings-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.settings-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
}

.flex-div {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.search-box {
    border: 1px solid #696969;
    margin-left: 30px;
    padding: 1px;
    border-radius: 25px;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 24px;
    background: transparent;
} 

.search-box input {
    border: 0;
    outline: 0;
    background: transparent;
    border-radius: 25px;
}

.search-box img {
    width: 13px;
}

.nav-user-icon img {
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 5px;
    height: 5px;
    border: 2px solid rgb(36, 230, 36);
    border-radius: 50%;
    background: #0cf132;
    position: absolute;
    top: 1px;
    right: 1px;
}
  
.user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #d37739;
    margin-right: 15px;
}

.user-profile a {
    margin-bottom: -5px;
    margin-left: 35px;
    font-size: 12px;
    color: whitesmoke;
}


  .slide-bottom {
    animation: slide-bottom 1.1s linear forwards;
}

@keyframes slide-bottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

/* FOOTER SECTION */

.footer {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer li {
    list-style-type: none;
    align-items: center;
    display: inline;
}

.footer a {
    font-size: 12px;
    gap: 5px;
}

.footer p {
    font-size: 12px;
    display: flex;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    }
    
    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #d37739;
    border-radius: 50px;
    }
